/* Main colors throughout entire site */
:root {
    --bs-primary: #036371;
    --bs-secondary: #BBBFB7;
    --bs-light-color: #ffff;
    --bs-light-color-secondary: #d9d9d9;
    --bs-dark-color: #3e3e3e;
}

h1 {
    font-family: "Fahkwang", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    padding-top: 100px;
}

/* Main Font Family */
h2,
h3,
h4,
h5,
h6,
nav a {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "nanito", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Nav Bar */

.logo {
    width: 100px;
}


/* Welcome section */
.welcome {
    background-color: var(--bs-secondary);
}

/* My work section */

/* About me section */
.about {
    background-color: var(--bs-dark-color);
}

.btn-primary {
    width: 80%;
}

.btn-about a {
    color: var(--bs-light-color);
    text-decoration: none;
}

.btn-about {
    font-family: "Fahkwang", sans-serif;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-light-color-secondary);
    --bs-btn-hover-border-color: var(--bs-light-color-secondary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-dark-color);
    --bs-btn-disabled-border-color: var(--bs-dark-color);

    /* Animation */
    animation: pulse 1s infinite alternate, colorChange 2s infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes colorChange {
    0% {
        background-color: var(--bs-primary);
    }

    50% {
        background-color: var(--bs-light-color-secondary);
    }

    100% {
        background-color: var(--bs-primary);
    }
}


/* Contact section */
.contact {
    background-color: var(--bs-primary);
}

.btn-contact a {
    color: var(--bs-light-color);
    text-decoration: none;
}

.btn-contact {
    font-family: "Fahkwang", sans-serif;
    --bs-btn-bg: var(--bs-dark-color);
    --bs-btn-border-color: var(--bs-dark-color);
    --bs-btn-hover-bg: var(--bs-light-color-secondary);
    --bs-btn-hover-border-color: var(--bs-light-color-secondary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-disabled-bg: var(--bs-dark-color);
    --bs-btn-disabled-border-color: var(--bs-dark-color);

    /* Animation */
    animation: pulse 1s infinite alternate, colorChange 2s infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes colorChange {
    0% {
        background-color: var(--bs-dark-color);
    }

    50% {
        background-color: var(--bs-light-color-secondary);
    }

    100% {
        background-color: var(--bs-dark-color);
    }
}


/* Footer section */
.footer {
    background-color: var(--bs-secondary);
}

.footer {
    background-color: var(--bs-secondary);
    color: var(--bs-light-color);
    text-align: center;
    padding: 20px 0;
}

.footer form {
    margin-bottom: 10px;
}

.footer a {
    color: var(--bs-light-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin-bottom: 5px;/
}

.footer .icon {
    width: 50pxpx;
    margin-top: 10px;
}

footer .form-control {
    width: 400px;
}



/**************** @Media qarry for iPad *************/

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 80px;
        padding-top: 100px;
        font-weight: 600;
    }

    .navbar-nav .nav-item {
        margin-right: 15px;
        justify-content: end;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-size: 23px;
    }


    .btn-primary {
        font-size: 23px;
        width: 80%;
    }

}

/**************** @Media qarry for Desktop  *************/

@media screen and (min-width: 1024px) {}